<div class="container">
<div class="row section">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/predat.html#contact">
              <img class="circlebox img-fluid" src="{{portfolio1}}">
              <h4>Chcem predať</h4>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/kupit.html#contact">
              <img class="circlebox img-fluid" src="{{portfolio2}}">
              <h4>Chcem kúpiť</h4>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/financovanie.html">
              <img class="circlebox img-fluid" src="{{portfolio3}}">
              <h4>Financovanie</h4>
          </a>
      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="circlecontainer">
          <a href="/sk/makler.html">
              <img class="circlebox img-fluid" src="{{portfolio4}}">
              <h4>Chcem byť maklérom</h4>
          </a>
      </div>
  </div>
</div>
</div>