<div>
    <ul class="footermenu">
        <li>
            <a class="menuitem" href="/" id="perex-menu">Domov</a>
        </li>
        <li>
            <a class="menuitem" href="http://www.remax-slovakia.sk/reality/re-max-attractive/volna-pozicia-realitny-makler/" id="map-menu">Kariéra</a>
        </li>
        <li>
            <a class="menuitem" href="/sk/onas" id="blueprint-menu">O nás</a>
        </li>
        <li>
            <a class="menuitem" href="/sk/team.html#adv-search" id="rooms-menu">Náš tím</a>
        </li>
        <li>
            <a class="menuitem" href="/sk/poradna/poradna.html" id="rooms-menu">Poradňa</a>
        </li>
        <li>
            <a class="menuitem" href="http://www.remax-slovakia.sk/reality/nehnutelnosti-kancelare/354044/re-max-attractive/" id="rooms-menu">Aktuálna ponuka</a>
        </li>
        <li>
            <a class="menuitem" href="/sk/kontakt.html#adv-search" id="contact-menu">Kontakt</a>
        </li>
    </ul>
</div>

<hr class="footerhr">

<div class="footertext">

    <h4>Nehnuteľnosti, reality a realitné kancelárie <b>RE/MAX</b></h4>

    <p>Využite vo svoj prospech naše rokmi získané skúsenosti na poli svetového trhu s realitami. Realitné kancelárie RE/MAX sa tešia významnej pozornosti vďaka silnej orientácii na zákazníkov a na ich skutočné potreby. Už 20 rokov pôsobíme v Európe a plníme Vaše sny v oblasti bývania. Neustále pre Vás vyhľadávame nehnuteľnosti každého druhu nielen v Slovenskej republike a v Európe, ale aj po celom svete. Vďaka zdieľanej internetovej ponuke je Vaša nehnuteľnosť prezentovaná takmer vo všetkých kútoch sveta zároveň. Viac ako 45 kancelárií v Bratislave, Banskej Bystrici, Košiciach a v celej SR.</p>

    <p>Realitné kancelárie spoločnosti RE/MAX sa nachádzajú po celej Slovenskej republike. V súčasnej dobe pre Vás pracuje viac ako 45 kancelárií. Sme Vám tak kedykoľvek k dispozícii ako v našich pobočkách, tak na internete. Pravidelné vzdelávanie našich realitných maklérov zefektívňuje poskytovanie všetkých služieb a je zárukou stálej profesionality. Za všetkých okolností chráni realitná kancelária RE/MAX Vaše záujmy, preto dodržujeme prísny RE/MAX etický kódex. Zariadime prenájom či predaj nehnuteľností podľa Vašich predstáv.</p>

    <h4>Realitné kancelárie RE/MAX – predávame reality po celom svete ... a nikto ich nepredáva viac.</h4>

    <p>Všetky informácie poskytnuté maklérom zazmluvnenej nehnuteľnosti sú považované za pravdivé, pokiaľ sa nepreukáže opak. V maximálnom rozsahu povolenom zákonom sa zriekame akejkoľvek zodpovednosti za všetky chyby alebo opomenutia obsiahnuté v týchto informáciách, alebo každého opomenutia aktualizovať alebo opraviť tieto informácie. Presnosť, úplnosť a spoľahlivosť informácií z tejto webovej lokality by ste mali nezávisle posudzovať a overovať a v prípade potreby vyhľadať odbornú pomoc. © RE/MAX je medzinárodná sieť finančne a právne nezávislých franšízingových kancelárií, ktoré ponúkajú širokú škálu realitných a realokačných služieb.</p>

    <br>

    <p>© RE/MAX je medzinárodná sieť finančne a právne nezávislých franšízingových kancelárií, ktoré ponúkajú širokú škálu realitných a realokačných služieb. Táto web stránka je prevádzkovaná spoločnosťou REAL CENTER, s.r.o. so sídlom Hlavná 28/7, Dunajská Streda 929 01, IČO: 44 121 890, ktorá je zapísaná v obchodnom registri vedenom Okresným súdom v Trnave, oddiel: Sro, vložka č.: 21832/T.</p>

    <br>

    <p><a href="assets/OOU.docx">Ochrana osobných údajov</a></p>

    <br>

    <div class="footermenu row">
        <div class="iconlink proftel col-3 rm-auto lm-auto"><a href="tel:0315505555"><i class="fa fa-phone fa-2x"></i><br>0315505555</a></div>
        <div class="iconlink proftel col-3"><a href="http://www.remax-slovakia.sk/reality/re-max-attractive/"><i class="fa fa-globe fa-2x"></i><br></a></div>
        <div class="iconlink profmail col-3"><a href="mailto:attractive@re-max.sk"><i class="fa fa-at fa-2x"></i><br>attractive@re-max.sk</a></div>
        <div class="iconlink profmail col-3"><a href="https://www.facebook.com/REMAX-Attractive-Dunajsk%C3%A1-Streda-984210688368035/"><i class="fa fa-facebook-f fa-2x"></i><br></a></div>
    </div>
    <h1 class="copy">Peter Narancsik - www.i-elektro.sk</h1>

</div>
