<a href="http://www.remax-slovakia.sk/reality/detail/91753/predaj-rodinny-dom-dunajska-streda-rekreacny-rad4-izby-pozemok-198-m2-parkovanie-zahradka/re-max-attractive/M2548">
  <div class="propertycontainer shadow">
      <div class="propertyimg">
          <img class="img-fluid" src="{{ makmes.house.pic }}">
          <div class="price">
              <h2>95 000 €</h2>
          </div>
      </div>
      <div class="propertydesc">
          <h2>Predaj domu 85 m2, Dunajská Streda</h2>
      </div>
      <div class="propertyic">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rooms">
              Izby: 4
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rozloha">
              Rozloha: 85 m²
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 region">
              Dunajská Streda, TT
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 id">
              044-N05654
          </div>
      </div>
      <hr class="propertyhr">
  </div>
</a>