<a href="http://www.remax-slovakia.sk/reality/detail/91753/predaj-rodinny-dom-dunajska-streda-rekreacny-rad4-izby-pozemok-198-m2-parkovanie-zahradka/re-max-attractive/M2548">
  <div class="propertycontainer shadow">
      <div class="propertyimg">
          <img class="img-fluid" src="{{ makmes.house.pic }}">
          <div class="price">
              <h2>{{ makmes.house.price }}</h2>
          </div>
      </div>
      <div class="propertydesc">
          <h2>{{ makmes.house.title }}</h2>
      </div>
      <div class="propertyic">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rooms">
              Izby: {{ makmes.house.rooms }}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rozloha">
              Rozloha: {{ makmes.house.size }}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 region">
            {{ makmes.house.address }}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 id">
            {{ makmes.house.propid }}
          </div>
      </div>
      <hr class="propertyhr">
  </div>
</a>